.tbl{display: table; width:100%;}
.tbl_cell{display: table-cell;}
.tbl_row{display: table-row;}
.width1{width: 1%}.width2{width: 2%}.width3{width: 3%}.width4{width: 4%}.width5{width: 5%}.width10{width: 10%}.width15{width: 15%}.width20{width: 20%}.width25{width: 25%}.width30{width: 30%}.width35{width: 35%}.width40{width: 40%}.width45{width: 45%}.width50{width: 50%}.width55{width: 55%}.width60{width: 60%}.width65{width: 65%}.width70{width: 70%}.width75{width: 75%}.width80{width: 80%}.width85{width: 85%}.width90{width: 90%}.width95{width: 95%}.width96{width: 96%}.width97{width: 97%}.width98{width: 98%}.width99{width: 99%}.width100{width: 100%}
.txt_left{text-align: left}
.txt_right{text-align: right}
.txt_center{text-align: right}
.txt_bold{font-weight: bold}
.valign_baseline{vertical-align: baseline}
.valign_top{vertical-align: top}
.valign_middle{vertical-align: middle}
.valign_bottom{vertical-align: bottom}
#app{}
#app-lbox{display: none}
#app-content{}
#app-content-error{}
#app-content-wrapper{}
#app-sidebar{}
.cld_left_menu ul{
    margin: 10px;
}
.cld_left_menu ul li a{
    padding: 5px;
    font-weight: bold;
}
.clb_dashboard{
    font-weight: normal;
}
.clb_dashboard h1, .clb_dashboard h2, .clb_dashboard h3{
    font-weight: bold;
}
.clb_dashboard>div:first-child{
    border-right: 1px solid #0a235d;
}
.clb_dashboard>div:last-child{
    padding-left: 10px;
    padding-right: 10px;
}
.clb_fields>.tbl>.tbl_cell:first-child{
    width: 60px;
}
.clb_fields>.tbl>.tbl_cell:last-child input{
    width: 60px;
}
.clb_fields>.tbl>.tbl_cell:last-child input[name=project_zip],
.clb_fields>.tbl>.tbl_cell:last-child input[name=project_city]{
    width: 60px;
}







